/* Add CSS here */
body {
    background-color: #1c2333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.main-container {
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 90%;
    height: 310px;
    display: flex;
}

.card-1 {
    width: 35%;
    justify-content: space-between;
    height: 310px;
}

.card-2 {
    width: 65%;
    height: 310px;
}

.image-1 {
    height: 90px;
    width: 150px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.closet-1 {
    display: flex;
    height: 100px;
    padding: 10px;
    align-items: center;
    gap: 15px;
}

.closet-1 h1 {
    color: white;
    font-size: 12px;
}

.closet-1 h2 {
    color: white;
    font-size: 9px;
}

.closet-1 p {
    color: white;
    font-size: 10px;
}

span {
    color: white;
    font-size: 10px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
}


.gallery {
    display: flex;
    align-items: center;
    height: 96px;
    width: 100%;
    padding: 0px;
    margin-top: -45px;
    border-radius: 0.3em;
    overflow-x: scroll;
}

.image-7 {
    height: 130px;
    width: 100%;
    border-radius: 0.3em;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    flex: none;
}

.gallery div .image-7 {
    width: 100%;
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.gallery div .image-7:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.2);
}

.content {
    height: 60px;
    margin-top: 10px;
    width: 88%;
    /* background-color: blue; */
    border-top-width: 3px;
    display: flex;
    justify-content: space-between;
}

.auction h4 {
    font-size: 12px;
    color: white;
}

.auction-1 {
    display: flex;
    gap: 8px;
}

.auction-1 h1 {
    font-size: 12px;
    color: white;
}

.auction-1 h2 {
    height: 22px;
    width: 49px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}




@media screen and (max-width:600px) {
    body {
        background-color: #1c2333;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
    }

    .main-container {
        width: 400px;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 90%;
        height: 310px;
        display: flex;
        flex-direction: column;
    }

    .card-1 {
        width: 100%;
        justify-content: space-between;
        height: 310px;
        display: flex;
        margin-top: -95px;
        flex-direction: column;
    }

    .card-2 {
        width: 65%;
        height: 310px;
        margin-top: 30px;
    }

    .image-1 {
        height: 90px;
        width: 150px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }

    .closet-1 {
        display: flex;
        height: 100px;
        padding: 10px;
        align-items: center;
        gap: 15px;
    }

    .closet-1 h1 {
        color: white;
        font-size: 12px;
    }

    .closet-1 h2 {
        color: white;
        font-size: 9px;
    }

    .closet-1 p {
        color: white;
        font-size: 10px;
    }

    span {
        color: white;
        font-size: 10px;
    }

    .icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }


    .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 96px;
        min-width: 360px;
        margin-left: 136px;
        padding: 0px;
        margin-top: -45px;
        border-radius: 0.3em;
        overflow-x: scroll;
    }

    .image-7 {
        height: 130px;
        min-width: 100px;
        border-radius: 0.3em;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }

    .gallery div {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        flex: none;
    }

    .gallery div .image-7 {
        width: 100%;
        transition: transform 0.5s;
    }

    .gallery::-webkit-scrollbar {
        display: none;
    }

    .gallery-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% auto;
    }

    .gallery div .image-7:hover {
        filter: grayscale(0);
        cursor: pointer;
        transform: scale(1.2);
    }

    .content {
        height: 60px;
        margin-top: 160px;
        width: 88%;
        border-top-width: 3px;
        display: flex;
        justify-content: space-between;
    }

    .auction h4 {
        font-size: 5px;
        color: white;
    }

    .auction-1 {
        display: flex;
        gap: 3px;
    }

    .auction-1 h1 {
        font-size: 10px;
        color: white;
    }

    .auction-1 h2 {
        height: 22px;
        width: 49px;
        color: white;
        font-size: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
    }
}